/* From Uiverse.io by gharsh11032000 */



.app{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    .card {
        position: relative;
        width: 590px;
        height: auto;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12px;
        gap: 12px;
        border-radius: 8px;
        cursor: pointer;
      
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          left: -5px;
          margin: auto;
          width: 270px;
          height: auto;
          border-radius: 10px;
          background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
          z-index: -10;
          pointer-events: none;
          transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      
        &::after {
          content: "";
          z-index: -1;
          position: absolute;
          inset: 0;
          background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
          transform: translate3d(0, 0, 0) scale(0.95);
          filter: blur(20px);
        }
      
        &:hover {
          &::after {
            filter: blur(30px);
          }
      
          &::before {
            transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
          }
        }
      
       .card-text{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        h2{
            color: white;
font-size: 40px;
letter-spacing: 5px;
        }
       }
       .card-btns{
        display: flex;
        justify-content: space-around;
        align-items: center;
       
        .btn-stop,
        .btn-clear,
        .btn-interval,
        .btn-start{
            align-items: center;
            background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            border: 0;
            border-radius: 8px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            box-sizing: border-box;
            color: #FFFFFF;
            display: flex;
            font-family: Phantomsans, sans-serif;
            font-size: 18px;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 140px;
            padding: 3px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
            transition: all .3s;
            &:active,
            &:hover {
             outline: 0;
            }
            
             span {
             background-color: rgb(5, 6, 45);
             padding: 16px 24px;
             border-radius: 6px;
             width: 100%;
             height: 100%;
             transition: 300ms;
            }
            
            &:hover span {
             background: none;
            }
            
            &:active {
             transform: scale(0.9);
            }
        }
       
       }
       .intervals{
        color: white;
       }
      }
}


  @media (max-width:600px) {
    .app{
        width: 100%;
        align-items: center;
        justify-content: center;
        .card{
            width: 100%;
            .card-btns{
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 20px;
            }
        }
    }
  }